<%- model_class = FilterRule -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:contains) %></th>
      <th><%= model_class.human_attribute_name(:budget_code_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @filter_rules.each do |filter_rule| %>
      <tr>
        <td><%= link_to filter_rule.id, filter_rule_path(filter_rule) %></td>
        <td><%= filter_rule.contains %></td>
        <td><%= filter_rule.budget_code_id %></td>
        <td><%=l filter_rule.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_filter_rule_path(filter_rule), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      filter_rule_path(filter_rule),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_filter_rule_path,
            :class => 'btn btn-primary' %>
